<div ng-include="'views/menu/menu.html'"></div>
<div ng-controller="MessagesEnvoyesCtrl">

  <div ng-include="'views/messagerie/sectionMessagerie.html'"></div>
  <div style="width: 75%; float: left;">
  <div ng-include="'views/messagerie/optionMessage.html'"></div>
  <div style="height:200px; border-style:ridge; overflow-y:scroll;">
  <table class="table table-hover">
    <thead>
      <tr>
        <th></th>
        <th>Objet</th>
        <th>À</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-click=ouvrirMessage(message) ng-repeat="message in messagesEnvoyes">
        <td><input type="checkbox" ng-change=updateCheckbox() ng-model="message.selected"/></td>
        <td>{{message.objet}}</td>
        <td>{{message.a}}</td>
        <td>{{message.dateMessage}}</td>
      </tr>
    </tbody>
  </table>
</div>
  <div style="height:200px; border-style:ridge;overflow-y:scroll;">
  <div ng-hide="!messageCourant">
    {{messageCourant.texte}}
  </div>
  </div>
  </div>
</div>